:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: ;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --contact-head: #757575;
  --titel-hero-button: #ffffff;
  --bacground-button: #f5f4fa;
  --border-portfolio: #eeeeee;
  --fill: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-button {
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--titel-hero-button);
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: var(--fill);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-container {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--titel-hero-button);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer-social-list-icon:hover {
  fill: white;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  fill: white;
  background-color: var(--accent-color);
}

.footer-social-titel {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--titel-hero-button);
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */